<div class="flex">
<div class="left-panel">
  <div class="panel"> <img src="/assets/terminal.svg" alt="terminal image" ></div>
  <div class="panel"> <img src="/assets/bulb.svg" alt="picture of bulb"></div>
  <div class="panel"> <img src="/assets/game.svg" alt="picture of game pad"></div>
</div>
<div class="outer-left">

  <div><img src="/assets/bullet-down.svg" alt="bullet icon"> <span>personal-info</span></div>
  <div><img src="/assets/angle-right.svg"><img src="assets/folder.svg" alt="folder icon"> <span>bio</span> </div>
  <div><img src="/assets/angle-right.svg"><img src="assets/folder.svg" alt="folder icon"> <span>bio</span> </div>
  <div><img src="/assets/angle-right.svg"><img src="assets/folder.svg" alt="folder icon"> <span>bio</span> </div>
  <div><img src="/assets/bullet-down.svg" alt="bullet icon"> <span>contacts</span></div>
  <div><img src="/assets/mail.svg"> <span>o.darlington@outlook.com</span></div>
  <div><img src="/assets/phone.svg"> <span>+2348137958136</span></div>
</div>

</div>
