.control-container{
  background-color: rgba(1, 20, 35, 0.19);
  border-radius: 8px;
  width: 180px;
  height: 142px;
  padding: 12px;
}
.control-container > p{
  font-size: 14px;
}

.up-margin{
  margin-top: 15px;
}

.white{
  color: white;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;

}
