<div class="page hello-layout">

    <div class="hello-info">
      <p class="h3">Hi all. I am</p>
      <h2 class="h2">Darlington Olelewe</h2>
      <h3> > Back-end developer</h3>
      <h4 class="sm-h3"> • java || spring || spring-boot </h4>
      <h3> > Front-end developer</h3>
      <h4 class="sm-h3"> • javascript || react || angular </h4>
      <div class="comments">
        <p class="comment">// complete the game to continue</p>
        <p class="comment">// you can also see it on my Github page</p>
      </div>
      <p class="full-link"><span class="const">const </span> <span class="var-name">githubLink </span> <span class="equal">= </span> <span class="link">“https://github.com/darlington-olelewe”</span></p>
    </div>

    <app-game></app-game>

</div>
